/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/********************
Actual Project
*********************/
/* line 13, ../sass/screen.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /**
  set of column 1
  ***/
  /**
  set of column 2
  ***/
  /***
  heading
  **/
}
/* line 23, ../sass/screen.scss */
* .col-1 {
  width: 8.333%;
}
/* line 26, ../sass/screen.scss */
* .col-2 {
  width: 16.666%;
}
/* line 29, ../sass/screen.scss */
* .col-3 {
  width: 24.999%;
}
/* line 32, ../sass/screen.scss */
* .col-4 {
  width: 33.322%;
}
/* line 35, ../sass/screen.scss */
* .col-5 {
  width: 41.665%;
}
/* line 38, ../sass/screen.scss */
* .col-6 {
  width: 49.998%;
}
/* line 41, ../sass/screen.scss */
* .col-7 {
  width: 58.331%;
}
/* line 44, ../sass/screen.scss */
* .col-8 {
  width: 66.664%;
}
/* line 47, ../sass/screen.scss */
* .col-9 {
  width: 74.997%;
}
/* line 50, ../sass/screen.scss */
* .col-10 {
  width: 83.33%;
}
/* line 53, ../sass/screen.scss */
* .col-11 {
  width: 91.663%;
}
/* line 56, ../sass/screen.scss */
* .col-12 {
  width: 100%;
}
/* line 63, ../sass/screen.scss */
* .col-m-1 {
  width: 8.333%;
}
/* line 66, ../sass/screen.scss */
* .col-m-2 {
  width: 16.666%;
}
/* line 69, ../sass/screen.scss */
* .col-m-3 {
  width: 24.999%;
}
/* line 72, ../sass/screen.scss */
* .col-m-4 {
  width: 33.322%;
}
/* line 75, ../sass/screen.scss */
* .col-m-5 {
  width: 41.665%;
}
/* line 78, ../sass/screen.scss */
* .col-m-6 {
  width: 49.998%;
}
/* line 81, ../sass/screen.scss */
* .col-m-7 {
  width: 58.331%;
}
/* line 84, ../sass/screen.scss */
* .col-m-8 {
  width: 66.664%;
}
/* line 87, ../sass/screen.scss */
* .col-m-9 {
  width: 74.997%;
}
/* line 90, ../sass/screen.scss */
* .col-m-10 {
  width: 83.33%;
}
/* line 93, ../sass/screen.scss */
* .col-m-11 {
  width: 91.663%;
}
/* line 96, ../sass/screen.scss */
* .col-m-12 {
  width: 100%;
}
/* line 100, ../sass/screen.scss */
* .clear {
  clear: both;
}
/* line 103, ../sass/screen.scss */
* .selected {
  background-color: cornflowerblue;
  color: white;
}
/* line 107, ../sass/screen.scss */
* #container {
  padding: 5px 7%;
}
/* line 110, ../sass/screen.scss */
* .float {
  float: left;
}
/* line 113, ../sass/screen.scss */
* .hr {
  margin: 10px 0;
  height: 10px;
  background-color: cornflowerblue;
}
/* line 119, ../sass/screen.scss */
* img {
  max-width: 100%;
}
/* line 127, ../sass/screen.scss */
* body {
  height: 1000px;
  /**************
  first section
  **************/
  /**************
  second section
  **************/
  /**************
  footer
  **************/
}
/* line 129, ../sass/screen.scss */
* body header {
  position: relative;
  margin-bottom: 20px;
  background-color: #0a233d;
  padding: 0;
  border-bottom: 2px solid cornflowerblue;
}
/* line 135, ../sass/screen.scss */
* body header #head {
  text-align: center;
  height: 90px;
}
/* line 138, ../sass/screen.scss */
* body header #head #burger {
  position: absolute;
  top: 17px;
  left: 5%;
  padding-top: 9px;
  float: left;
  width: 45px;
}
/* line 145, ../sass/screen.scss */
* body header #head #burger div:last-child {
  margin-bottom: 0;
}
/* line 148, ../sass/screen.scss */
* body header #head #burger .burger {
  display: block;
  position: relative;
  margin-bottom: 7px;
  height: 7px;
  background-color: #f3f3f3;
}
/* line 155, ../sass/screen.scss */
* body header #head #burger #dropdown {
  box-sizing: border-box;
  margin-top: 16px;
  background-color: #e7e7e7;
  position: relative;
  display: none;
  text-align: left;
  width: 300px;
  height: 100%;
  -webkit-box-shadow: 2px 6px 16px -1px rgba(56, 51, 56, 0.56);
  -moz-box-shadow: 2px 6px 16px -1px rgba(56, 51, 56, 0.56);
  box-shadow: 2px 6px 16px -1px rgba(56, 51, 56, 0.56);
  z-index: 1;
}
/* line 169, ../sass/screen.scss */
* body header #head #burger #dropdown ul li:hover {
  display: block;
  background-color: cornflowerblue;
  color: white;
}
/* line 174, ../sass/screen.scss */
* body header #head #burger #dropdown ul li {
  font-family: sans-serif;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  color: #0a233d;
}
/* line 184, ../sass/screen.scss */
* body header #head #burger:hover .burger {
  background-color: #c6c6c6;
  color: white;
}
/* line 188, ../sass/screen.scss */
* body header #head #burger:hover #dropdown {
  display: block;
}
/* line 192, ../sass/screen.scss */
* body header #head #logo {
  position: absolute;
  top: 17px;
  left: 20%;
  float: left;
  font-size: 45px;
  font-weight: normal;
  color: white;
}
/* line 201, ../sass/screen.scss */
* body header #head #search {
  position: relative;
  top: 17px;
  margin-right: 10px;
  right: 0;
  float: right;
  font-family: arial black, sans-serif;
  color: white;
}
/* line 210, ../sass/screen.scss */
* body header #head #search:hover + #search-nav {
  position: absolute;
  display: block;
}
/* line 215, ../sass/screen.scss */
* body header #head #search-nav {
  display: none;
  position: absolute;
  top: 63px;
  right: 32px;
}
/* line 221, ../sass/screen.scss */
* body header #head input[name=search] {
  padding: 0 5px;
  position: absolute;
  right: 0;
  outline-style: none;
  width: 250px;
  height: 25px;
  border: 2px solid cornflowerblue;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}
/* line 234, ../sass/screen.scss */
* body header #nav {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 27%;
  text-align: center;
}
/* line 240, ../sass/screen.scss */
* body header #nav ul {
  background-color: #0a233d;
  text-align: center;
}
/* line 243, ../sass/screen.scss */
* body header #nav ul li {
  height: 25px;
  width: 75px;
  display: inline-block;
  padding-top: 3px;
  border-radius: 2px;
  margin-right: 5%;
}
/* line 250, ../sass/screen.scss */
* body header #nav ul li a {
  font-size: 18px;
  font-family: arial, sans-serif;
  color: white;
}
/* line 256, ../sass/screen.scss */
* body header #nav ul li:hover {
  border-bottom: 3px solid cornflowerblue;
}
/* line 268, ../sass/screen.scss */
* body section {
  float: left;
  font-family: 'Droid Sans', sans-serif;
}
/* line 271, ../sass/screen.scss */
* body section h1 {
  font-weight: lighter;
  padding-bottom: 10px;
}
/* line 275, ../sass/screen.scss */
* body section form {
  padding: 0 10px;
}
/* line 277, ../sass/screen.scss */
* body section form p {
  text-space: 5px;
  margin-bottom: 10px;
}
/* line 281, ../sass/screen.scss */
* body section form input[name=postcode] {
  padding: 0 10px;
  width: 90px;
  height: 30px;
  outline-style: none;
  border: 3px solid cornflowerblue;
  border-radius: 20px;
  margin-bottom: 5px;
}
/* line 294, ../sass/screen.scss */
* body section form div input[type=radio] {
  margin-bottom: 5px;
}
/* line 298, ../sass/screen.scss */
* body section form input[name=e_mail] {
  margin-bottom: 5px;
  border: 3px solid cornflowerblue;
  margin-top: 2px;
  padding: 0 10px;
  outline-style: none;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}
/* line 308, ../sass/screen.scss */
* body section form input[name=mobno] {
  padding: 0 10px;
  width: 200px;
  height: 30px;
  outline-style: none;
  border: 3px solid cornflowerblue;
  border-radius: 20px;
  margin-bottom: 5px;
}
/* line 317, ../sass/screen.scss */
* body section form input[type=submit] {
  float: right;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 0 10px;
  width: 90px;
  height: 30px;
  background-color: #0a233d;
  outline-style: none;
  border-radius: 20px;
  color: white;
  border: 2px solid #0a233d;
}
/* line 331, ../sass/screen.scss */
* body section form .radio-toolbar input[type="radio"] {
  outline: 0;
  position: absolute;
  display: none;
}
/* line 337, ../sass/screen.scss */
* body section form .radio-toolbar label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: white;
  color: cornflowerblue;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 0.15em solid cornflowerblue;
  padding: 0 20px;
  /*******************
  custom radio button
  *******************/
}
/* line 354, ../sass/screen.scss */
* body section form .radio-toolbar label .outer {
  margin: 0;
  position: relative;
  right: 15px;
  top: -12px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid cornflowerblue;
}
/* line 364, ../sass/screen.scss */
* body section form .radio-toolbar label .inner {
  position: relative;
  left: 2px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: cornflowerblue;
}
/* line 375, ../sass/screen.scss */
* body section form .radio-toolbar input[type="radio"]:checked + label {
  background-color: cornflowerblue;
  color: white;
}
/* line 378, ../sass/screen.scss */
* body section form .radio-toolbar input[type="radio"]:checked + label .inner {
  position: relative;
  left: 2px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: white;
}
/* line 387, ../sass/screen.scss */
* body section form .radio-toolbar input[type="radio"]:checked + label .outer {
  margin: 0;
  position: relative;
  right: 15px;
  top: -12px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid white;
}
/* line 399, ../sass/screen.scss */
* body section form .radio-toolbar input[type="radio"]:checked + label#radio-button-select {
  background-color: cornflowerblue;
  border: 1px solid white;
}
/* line 410, ../sass/screen.scss */
* body #second-section {
  float: right;
  padding: 1%;
}
/* line 413, ../sass/screen.scss */
* body #second-section h4 {
  margin: 10px 0;
  font-weight: 600;
}
/* line 417, ../sass/screen.scss */
* body #second-section .article {
  position: relative;
}
/* line 419, ../sass/screen.scss */
* body #second-section .article div {
  width: 100%;
  position: relative;
}
/* line 422, ../sass/screen.scss */
* body #second-section .article div img {
  position: relative;
  max-width: 100%;
}
/* line 426, ../sass/screen.scss */
* body #second-section .article div a {
  position: absolute;
  background-color: #0d5990;
  color: white;
  height: 20px;
  width: 105px;
  bottom: 4px;
  font-size: 1em;
}
/* line 436, ../sass/screen.scss */
* body #second-section .article p {
  margin: 10px 0;
}
/* line 444, ../sass/screen.scss */
* body footer {
  margin: 0 auto;
}
/* line 446, ../sass/screen.scss */
* body footer div {
  float: left;
  font-family: arial, sans-serif;
  text-align: left;
  margin: 10px 0;
  padding-left: 3px;
  font-weight: normal;
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
}
/* line 456, ../sass/screen.scss */
* body footer div .footer-list h4 {
  margin: 10px auto 5px;
}
/* line 459, ../sass/screen.scss */
* body footer div .footer-list .div-hr {
  border: 0;
  background-color: cornflowerblue;
  height: 10px;
}
/* line 466, ../sass/screen.scss */
* body footer div #footer-list-last h4 {
  margin: 0 0 5px 0;
}

@media only screen and (max-width: 580px) {
  /* line 477, ../sass/screen.scss */
  body header #nav {
    display: none;
  }
  /* line 480, ../sass/screen.scss */
  body header #head div #search {
    width: 33px;
    height: 33px;
    top: 57px;
  }
  /* line 485, ../sass/screen.scss */
  body header #head #logo {
    left: 30%;
  }
  /* line 488, ../sass/screen.scss */
  body header #head div #search-nav input[name=search] {
    width: 280px;
    right: 15px;
  }

  /**
  set of column 1
  ***/
  /* line 496, ../sass/screen.scss */
  .col-1 {
    width: 8.333%;
  }

  /* line 499, ../sass/screen.scss */
  .col-2 {
    width: 16.666%;
  }

  /* line 502, ../sass/screen.scss */
  .col-3 {
    width: 24.999%;
  }

  /* line 505, ../sass/screen.scss */
  .col-4 {
    width: 33.322%;
  }

  /* line 508, ../sass/screen.scss */
  .col-5 {
    width: 41.665%;
  }

  /* line 511, ../sass/screen.scss */
  .col-6 {
    width: 49.998%;
  }

  /* line 514, ../sass/screen.scss */
  .col-7 {
    width: 58.331%;
  }

  /* line 517, ../sass/screen.scss */
  .col-8 {
    width: 66.664%;
  }

  /* line 520, ../sass/screen.scss */
  .col-9 {
    width: 74.997%;
  }

  /* line 523, ../sass/screen.scss */
  .col-10 {
    width: 83.33%;
  }

  /* line 526, ../sass/screen.scss */
  .col-11 {
    width: 91.663%;
  }

  /* line 529, ../sass/screen.scss */
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 580px) {
  /* line 535, ../sass/screen.scss */
  body header #nav {
    display: none;
  }
  /* line 538, ../sass/screen.scss */
  body header #head #logo {
    left: 30%;
  }
}
@media only screen and (min-width: 720px) {
  /* line 546, ../sass/screen.scss */
  body header #nav {
    display: inline-block;
  }
  /* line 549, ../sass/screen.scss */
  body header #head #burger {
    display: none;
  }
  /* line 552, ../sass/screen.scss */
  body header #head #logo {
    left: 20px;
  }

  /**
  set of column 2
  ***/
  /* line 559, ../sass/screen.scss */
  .col-m-1 {
    width: 8.333%;
  }

  /* line 562, ../sass/screen.scss */
  .col-m-2 {
    width: 16.666%;
  }

  /* line 565, ../sass/screen.scss */
  .col-m-3 {
    width: 24.999%;
  }

  /* line 568, ../sass/screen.scss */
  .col-m-4 {
    width: 33.322%;
  }

  /* line 571, ../sass/screen.scss */
  .col-m-5 {
    width: 41.665%;
  }

  /* line 574, ../sass/screen.scss */
  .col-m-6 {
    width: 49.998%;
  }

  /* line 577, ../sass/screen.scss */
  .col-m-7 {
    width: 58.331%;
  }

  /* line 580, ../sass/screen.scss */
  .col-m-8 {
    width: 66.664%;
  }

  /* line 583, ../sass/screen.scss */
  .col-m-9 {
    width: 74.997%;
  }

  /* line 586, ../sass/screen.scss */
  .col-m-10 {
    width: 83.33%;
  }

  /* line 589, ../sass/screen.scss */
  .col-m-11 {
    width: 91.663%;
  }

  /* line 592, ../sass/screen.scss */
  .col-m-12 {
    width: 100%;
  }
}
